@import url("http://fonts.cdnfonts.com/css/bahnschrift");

:root {
  --primary-color: black;
  --secondary-color: white;
  --margin-padding: 3vw;
}
header {
  margin-top: var(--margin-padding);
  margin-left: 1.5vw;
  margin-bottom: var(--margin-padding);
  font-family: "bahnschrift";
  font-size: 5vw;
  color: var(--primary-color);
}
a:visited {
  color: var(--primary-color);
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--secondary-color);
  padding: 5vw 11vw;
  text-align: center;
  text-decoration: none;
  font-family: "bahnschrift";
  font-size: 5vw;
  margin: 4vw 2vw;
  cursor: pointer;
}
img {
  max-width: 20vw;
  height: auto;
}
footer {
  font-family: "bahnschrift";
  font-size: 1.5vw;
  text-align: center;
  margin-top: var(--margin-padding);
  margin-bottom: var(--margin-padding);
}
h2 {
  font-size: 2vw;
  margin-left: 2vw;
}
ul {
  font-family: "bahnschrift";
  font-size: 1.8vw;
  list-style: none;
  margin-right: 6vw;
  /* line-height: 2vw; */
}
h3 {
  font-size: 1.2vw;
  font-family: "bahnschrift";
}
p {
  font-size: 1.2vw;
  font-family: "bahnschrift";
}
article {
  padding-left: var(--margin-padding);
  padding-bottom: var(--margin-padding);
}
div {
  color: red;
  /* visibility: hidden; */
}
.on-sale::before {
  content: "-";
  color: red;
}
.on-sale::after {
  content: "%";
  color: red;
}
.price::after {
  content: "DKK";
}
.sold-out {
  color: white;
}
